SUPABASE_URL=
SUPABASE_SERVICE_KEY=
TELEGRAM_BOT_TOKEN=
MAIN_CHAT_ID=2608069201
MAIN_GROUP_INVITE_URL=https://t.me/+Z5b3eeJjJTs0MTli
SESSION_SECRET=
SYNC_TOKEN=
TRAVELER_CHAT_IDS=
KEEPER_CHAT_IDS=
BOOSTY_TRAVELER_CHAT_ID=
BOOSTY_KEEPER_CHAT_ID=
TRIBUTE_TRAVELER_URL=
TRIBUTE_KEEPER_URL=

CATALOG_CACHE_SECONDS=
TELEGRAPH_CACHE_SECONDS=
IMAGE_CACHE_SECONDS=
